$basic_white: #ffffff;
$transparent_white-03: rgba(255, 255, 255, 0.3);

$basic_black: #000000;
$transparent_black-04: rgba(0, 0, 0, 0.4);
$transparent_black-024: rgba(0, 0, 0, 0.24);
$transparent_black-016: rgba(0, 0, 0, 0.16);

$basic_green: #68b738;
$basic_green-2: #5eaa2f;

$basic_grey: #f2f2f2;
$basic_grey-2: #ebebeb;
$basic_grey-3: #eaeaea;

$special_black: #111111;

$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_grey-3: #e6e6e6;
$special_grey-4: #d3d3d3;
$special_grey-5: #e7e7e7;
$special_grey-6: #dcdcdc;
$special_grey-7: #bababa;

$special_dark-grey : #444444;
$special_dark-grey-2: #222222;
$special_dark-grey-3: #d9d9d9;

$status_error: #ff8282;
