.wrapper {
  box-sizing: border-box;

  width: 320px;
  padding: $padding-h-mobile;

  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 768px;
    padding: $padding-h-tablet;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: $padding-h-desktop;
  }
}
