.wrapper {
  box-sizing: border-box;

  width: 280px;
  padding: 0 20px;

  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 768px;
    padding: 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    padding: 0 110px;
    margin: 0;
  }
}
