.contacts {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-grey {
    background-color: $basic_grey;
  }

  &::after {
    @include pseudo-element(57px, 53px);

    bottom: 37.2%;
    left: 40.2%;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      bottom: 32%;
      left: 46%;
    }

    @media (min-width: $desktop) {
      bottom: 50%;
      left: 47.7%;
    }
  }
}

.contacts__text {
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding-top: 65px;
    padding-bottom: 57px;
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (min-width: $desktop) {
    position: relative;

    top: 320px;
    left: 110px;

    width: 570px;

    padding-top: 66px;
    padding-bottom: 59px;
    padding-left: 76px;
    padding-right: 89px;
    margin: 0;
    margin-top: -250px;

    background-color: $basic_white;

    z-index: 1;
  }
}

.contacts__text-notice {
  width: 50%;
  margin-left: -1px;

  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 30%;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}

.contacts__text-address {
  width: 50%;
  margin-left: 3px;

  font-family: "Arial", sans-serif;
  line-height: 20px;

  font-style: normal;

  color: $special_dark-grey;

  & br {
    display: none;
  }

  @media (min-width: $tablet) {
    width: 25%;

    margin-top: -1px;

    font-size: 16px;
    text-align: right;

    & br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop) {
    width: 38.7%;

    text-align: left;
  }
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 362px;

  margin: 0 auto;
  margin-bottom: -3px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}
