.example {
  display: flex;
  flex-direction: column;

  padding-top: 27px;
  padding-bottom: 36px;

  background-color: $basic_grey-3;

  @media (min-width: $tablet) {
    padding-bottom: 69px;

    background: linear-gradient(to bottom, transparent 619px, $basic_grey-3 619px);

    border-top: 1px solid $special_grey-3;
  }

  @media (min-width: $desktop) {
    padding-top: 7px;

    background: linear-gradient(to bottom, transparent 159px, $basic_grey-3 159px);

    border: none;
  }
}

.example__title {
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  @media (min-width: $tablet) {
    margin-top: 16px;
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 148px;
  }
}

.example__text {
  padding-right: 2px;
  margin-bottom: 40px;

  font-family: "Arial", sans-serif;

  color: $special_dark-grey;

  @media (min-width: $tablet) {
    width: 98%;

    margin-bottom: 69px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    width: 36%;

    margin-bottom: 83px;
  }
}

.example__metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 51.7%;
  }

  @media (min-width: $desktop) {
    width: 30%;
  }
}

.example__metrics-item {
  position: relative;

  width: 44%;

  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &::after {
    @include pseudo-element(100%, 56px);

    top: -15px;

    border: 1px solid $special_grey;
    border-radius: 3px;

    @media (min-width: $tablet) {
      top: -16px;

      height: 72px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 55px;
  }
}

.example__metrics-value {
  margin-bottom: 9px;

  font-size: 24px;
  line-height: 24px;

  text-align: center;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 10px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__metrics-mark {
  position: relative;

  padding: 0 4px;

  font-family: "Arial", sans-serif;

  font-size: 12px;
  line-height: 12px;

  text-align: center;

  color: $special_dark-grey;
  background-color: $basic_grey-3;

  z-index: 1;

  @media (max-width: $mobile) {
    width: 67%;
  }

  @media (min-width: $tablet) {
    padding: 0 6px;

    font-size: 14px;
    line-height: 14px;

    background-color: $basic_white;
  }

  @media (min-width: $desktop) {
    background-color: $basic_grey-3;
  }
}

.example__cost {
  margin-bottom: 42px;

  text-align: center;

  line-height: 20px;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    position: relative;

    margin-top: -84px;
    margin-right: 1px;

    display: flex;
    flex-direction: column;

    font-size: 20px;

    text-align: right;
  }

  @media (min-width: $desktop) {
    width: 26.8%;

    margin-top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: left;
  }
}

.example__cost-value {
  @media (min-width: $tablet) {
    padding-top: 9px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}

.example__slider {
  margin: 0 auto;

  @media (min-width: $desktop) {
    position: relative;

    margin-bottom: -674px;

    top: -674px;
    right: -295px;
  }
}

.example__slider-imgs {
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-top: 73px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 32px;
  }
}

.example__slider-before {
  @media (min-width: $tablet) {
    width: 670px;
  }
}

.example__slider-after {
  display: none;

  @media (min-width: $tablet) {
    width: 354px;
  }
}

.example__slider-tumbler {
  width: 61.7%;

  margin-left: 64px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 85.2%;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 93.5%;

    padding-left: 57px;
  }
}

.example__slider-button {
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;

  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  background-color: inherit;

  border: none;
  border-bottom: 1px solid $basic_grey-3;

  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid $transparent_black-04;
    outline: none;
  }

  &:active {
    border: none;
    outline: none;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted $transparent_black-024;
  }
}

.example__slider-toggle {
  display: flex;
  align-self: center;

  width: 84px;
  height: 14px;

  padding: 0 5px;

  background-color: $basic_white;
  border: 1px solid $special_grey;
  border-radius: 6px;

  @media (min-width: $tablet) {
    width: 428px;
    height: 6px;

    background-color: $special_grey-6;
    border: none;
  }
}

.example__slider-scale {
  align-self: center;

  width: 35px;
  height: 6px;

  background-color: $basic_green;
  border-radius: 6px;

  @media (min-width: $tablet) {
    position: relative;

    width: 34px;
    height: 34px;

    margin: 0 auto;

    border-radius: 50%;

    background-color: $basic_white;
    border: 1px solid $special_grey;
    filter: drop-shadow(0 1px 3px $transparent_black-016);

    cursor: pointer;

    &:hover,
    &:focus {
      filter: drop-shadow(0 2px 4px $transparent_black-016);
    }

    &:active {
      border: 1px solid $basic_green;
      filter: drop-shadow(0 3px 5px $transparent_black-016);
    }
  }

  &::after {
    @media (min-width: $tablet) {
      @include pseudo-element(8px, 8px);

      top: 40%;
      left: 38%;

      background-color: $basic_green;
      border-radius: 50%;
    }
  }
}
