.extra-offers {
  margin-bottom: 39px;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.extra-offers__title {
  position: relative;

  margin-bottom: 34px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::before {
    @media (min-width: $tablet) {
      @include pseudo-element(300px, 2px);

      top: 60%;
      left: -300px;

      background-color: $basic_green;
    }

    @media (min-width: $desktop) {
      top: 64%;
      left: -340px;
    }
  }

  &::after {
    @include pseudo-element(53px, 2px);

    top: 63%;
    right: -20px;

    background-color: $basic_green;

    @media (min-width: $tablet) {
      width: 400px;

      top: 61%;
      right: -103px;

      background-color: $basic_green;
    }

    @media (min-width: $desktop) {
      width: 959px;

      top: 64%;
      right: -110px;
    }
  }

  @media (min-width: $tablet) {
    padding-left: 38px;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
  }
}

.extra-offers__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;
  }

  @media (min-width: $desktop) {
    width: 73.5%;

    border-left: none;
    border-right: none;
  }
}

.extra-offers__item {
  padding-top: 13px;
  padding-bottom: 17px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $special_grey;

  &:first-child {
    border-top: 1px solid $special_grey;
  }

  @media (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;

    padding: 0;
    padding-top: 15px;
  }
}

.extra-offers__card {
  width: 100%;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    margin-bottom: 26px;

    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 60%;

    padding-top: 9px;
    padding-bottom: 0;
  }
}

.extra-offers__name {
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-align: left;

  text-transform: uppercase;

  color: $special_dark-grey-2;

  @media (min-width: $tablet) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 161px;

    margin-right: 165px;
  }
}

.extra-offers__row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: $special_dark-grey;

  @media (min-width: $tablet) {
    margin-bottom: 0;

    font-size: 16px;
    line-height: 21px;
  }

  @media (min-width: $desktop) {
    min-width: 286px;
    margin-top: 1px;
  }
}

.extra-offers__mark {
  @media (min-width: $desktop) {
    text-align: left;
  }
}

.extra-offers__value {
  text-align: right;

  @media (min-width: $tablet) {
    margin-left: 50px;
  }

  @media (min-width: $desktop) {
    margin-left: 80px;
  }
}

.extra-offers__order {
  @media (min-width: $tablet) {

    padding-bottom: 11px;
  }

  @media (min-width: $desktop) {
    width: 27%;

    margin-top: -16px;
  }
}
