.features {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.features__title {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 74px;

    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 57px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.features__item {
  position: relative;

  margin-bottom: 26px;

  &::before {
    @include pseudo-element(60px,60px);

    top: -2px;

    background-color: $basic_green;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet) {
    width: 80%;
    max-width: 400px;

    margin-bottom: 0;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.features__text {
  position: relative;

  margin: 0;
  padding-left: 80px;

  font-family: "Arial", sans-serif;

  &::before {
    @include pseudo-element(60px,60px);

    top: 3px;
    left: 5px;

    @media (min-width: $tablet) {
      top: 13px;
      left: 15px;
    }
  }

  &-composition::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &-form::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &-instruction::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &-duration::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-top: 111px;
    margin-bottom: 77px;

    color: $special_dark-grey;

    &::after {
      position: absolute;

      top: -40px;

      font-family: "Oswald", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;

      color: $basic_grey;

      z-index: -1;
    }

    &-composition::after {
      content: "1";

      right: 30px;

      @media (min-width: $desktop) {
        right: 15px;
      }
    }

    &-form::after {
      content: "2";

      right: 15px;

      @media (min-width: $desktop) {
        right: 0;
      }
    }

    &-instruction::after {
      content: "3";

      right: 12px;

      @media (min-width: $desktop) {
        right: -2px;
      }
    }

    &-duration::after {
      content: "4";

      right: 10px;

      @media (min-width: $desktop) {
        right: -4px;
      }
    }
  }
}
