.features {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin-top: 0;
  margin-bottom: 36px;
  margin-left: -53px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.features__list {
  width: 280px;

  @include list-reset;
}

.features__item {
  position: relative;

  margin-bottom: 24px;


  &::before {
    @include pseudo-element(60px,60px);

    top: -3px;

    background-color: $basic_green;
  }
}

.features__text {
  position: relative;

  margin: 0;
  padding-left: 80px;

  font-family: "Arial", sans-serif;

  &::before {
    @include pseudo-element(60px,60px);

    top: 3px;
    left: 5px;
  }

  &-composition::before {
    background-image: url(../../img/advantage-leaf@1x.png);
    background-repeat: no-repeat;
  }

  &-form::before {
    background-image: url(../../img/advantage-powder@1x.png);
    background-repeat: no-repeat;
  }

  &-instruction::before {
    background-image: url(../../img/advantage-dining@1x.png);
    background-repeat: no-repeat;
  }

  &-duration::before {
    background-image: url(../../img/advantage-clock@1x.png);
    background-repeat: no-repeat;
  }
}
