.footer {
  padding-top: 42px;
  padding-bottom: 20px;

  background-color: $basic_grey;

  @media (min-width: $tablet) {
    padding-top: 44px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop) {
    padding-top: 47px;
    padding-bottom: 38px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo-main {
  padding-bottom: 28px;

  text-align: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;

    text-align: left;
  }
}

.footer__social-list {
  @include list-reset;

  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
  align-items: center;

  max-width: 130px;
  padding-top: 22px;
  padding-bottom: 17px;

  &::before {
    @include pseudo-element(280px,1px);

    top: 0;
    left: -75px;

    background-color: $special_dark-grey-3;

    @media (min-width: $tablet) {
      background: none;
    }
  }

  &::after {
    @include pseudo-element(280px,1px);

    bottom: 0;
    left: -75px;

    background-color: $special_dark-grey-3;

    @media (min-width: $tablet) {
      background: none;
    }
  }

  @media (min-width: $tablet) {
    gap: 23px;
  }
}

.footer__social-link svg {
  &:hover,
  &:focus {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }
}

.footer__logo-html {
  width: 100%;

  margin-top: 23px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    max-width: 163px;

    margin: 0;
    padding: 0;
  }
}

.footer__logo-html-text {
  margin-top: -4px;
  margin-left: -1px;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: $special_dark-grey;
}

.footer__logo-html-img path {
  &:hover,
  &:focus {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
  }
}
