.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $basic_grey;
}

.footer__logo-main {
  width: 280px;

  margin-top: 39px;
  margin-bottom: 20px;
  padding-bottom: 32px;

  text-align: center;

  border-bottom: 1px solid $special_dark-grey-3;
}

.footer__social-list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;

  list-style: none;
}

.footer__social-item {
  margin: auto;
}

.footer__logo-html {
  width: 280px;

  margin-top: 21px;
  margin-bottom: 22px;

  padding-top: 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $special_dark-grey-3;
}

.footer__logo-html-text {
  font-family: Arial;

  font-size: 16px;
  line-height: 18px;

  color: $special_dark-grey;
}
