.header {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
    margin-bottom: 65px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
    margin-bottom: 54px;
  }
}

.header__logo {
  display: block;

  padding-top: 11px;
  padding-bottom: 11px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

.header__nav-toggle {
  @include pseudo-element(24px, 19px);

  right: 20px;
  top: 25px;

  cursor: pointer;

  border: none;

  background-color: inherit;

  @media (min-width: $tablet) {
    display: none;
  }
}

.header__nav--opened .header__nav-toggle {
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav--closed .header__nav-toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav-list {
  position: relative;

  @include list-reset;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.header__nav-item {
  padding-top: 22px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  text-align: center;

  text-transform: uppercase;

  border-top: 1px solid $special_grey-3;

  &:last-child {
    border-bottom: 1px solid $special_grey-3;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  @media (min-width: $tablet) {
    margin-left: 35px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    border: none;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;

    color: $basic_white;
  }
}

.header__catalog .header__nav-item,
.header__form .header__nav-item {
  @media (min-width: $desktop) {
    color: $basic_black;
  }
}
