.catalog__title {
  @include main-title-small;

  padding: $padding-h-mobile;
  padding-top: 27px;
  padding-bottom: 40px;

  border-top: 1px solid $special_dark-grey-3;
  border-bottom: 1px solid $basic_grey-2;

  @media (min-width: $tablet) {
    @include main-title-large;

    padding: $padding-h-tablet;
    padding-top: 49px;

    border: none;
  }

  @media (min-width: $desktop) {
    padding: $padding-h-desktop;
    padding-top: 58px;
    padding-bottom: 41px;
  }
}

.offers {
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }
}

.offers__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 16px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 19px;
  }
}

.offers__card {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding-top: 19px;
  padding-bottom: 24px;

  @media (max-width: $mobile) {
    &::after {
      @include pseudo-element(320px, 1px);

      bottom: 0;
      left: -20px;

      background-color: $basic_grey-2;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding-top: 283px;
    padding-bottom: 40px;
    padding-left: 39px;
    padding-right: 37px;

    background: linear-gradient(to bottom, transparent 124px, $basic_grey-3 124px);
  }
}

.offers__img {
  width: 140px;

  @media (min-width: $tablet) {
    position: absolute;

    width: 330px;

    bottom: 150px;
  }

  @media (min-width: $desktop) {
    width: 244px;

    bottom: 154px;
  }
}

.offers__wrapper {
  width: 50%;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.offers__title {
  width: 70%;

  padding-top: 2px;
  padding-bottom: 15px;

  @media (min-width: $tablet) {
    width: 60%;

    padding-bottom: 11px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 80%;
  }
}

.offers__title-link {
  display: inline-block;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: left;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;

    text-align: center;
  }
}

.offers__list-parameters {
  @include list-reset;
}

.offers__item-parameters {
  @include offers-text-small;

  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;

  color: $special_dark-grey;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 6px;

    font-size: 16px;

    border-bottom: 1px solid $special_grey;
  }
}

.offers__order {
  margin-top: 11px;

  @media (min-width: $tablet) {
    margin-top: 32px;
  }
}

.offers__show-all {
  padding-top: 80px;
  padding-bottom: 24px;

  text-align: center;

  border-bottom: 1px solid $basic_grey-2;

  @media (min-width: $tablet) {
    padding-top: 158px;
    margin-top: 125px;

    border: 2px solid $basic_grey;
  }

  @media (min-width: $desktop) {
    padding-top: 156px;
    margin-top: 126px;
  }
}

.offers__text-1 {
  position: relative;

  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  text-transform: uppercase;

  color: $special_black;

  &::before {
    @include pseudo-element(30px, 30px);

    top: -53px;
    left: 44.5%;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;

    color: $special_grey-4;

    @media (min-width: $tablet) {
      width: 60px;
      height: 60px;

      top: -108px;
      left: 32%;

      background-image: url("../img/icon-plus.svg");
    }
  }

  @media (min-width: $tablet) {
    width: 50%;

    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    width: 60%;
  }
}

.offers__text-2 {
  @include offers-text-small;

  margin: 0;
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  text-align: center;

  color: $special_dark-grey;

  @media (min-width: $tablet) {
    width: 70%;

    margin: 0 auto;
    margin-bottom: 83px;

    font-size: 16px;
    line-height: 18px;
  }
}

.offers__show-all-button {
  font-size: 16px;

  color: $special_dark-grey;

  background-color: $basic_grey;

  @media (min-width: $tablet) {
    width: 78%;

    margin: 0 auto;

    text-align: center;

    border: 2px solid $basic_grey;
  }

  @media (min-width: $desktop) {
    width: 70%;
  }

  &:hover,
  &:focus {
    color: $special_dark-grey;

    background-color: $basic_grey-2;

    border: 2px solid $basic_grey-2;
  }

  &:active {
    color: $special_grey;

    background-color: $basic_grey-2;
  }
}
