.pitch {
  display: flex;
  flex-direction: column;

  padding-bottom: 22px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;

  &::before {
    @media (min-width: $desktop) {
      @include pseudo-element(720px, 696px);

      top: -2px;
      right: 1px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;

      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 526px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop) {
    padding-bottom: 161px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 62.9% 27%;
  }
}

.pitch__title {
  padding-top: 28px;
  padding-bottom: 25px;

  @include main-title-small;

  text-align: center;

  color: $basic_white;

  @media (min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 41px;
    padding-left: 87px;

    @include main-title-large;

    text-align: left;

    color: $basic_black;
  }

  @media (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 39px;
    padding-left: 80px;
  }
}

.pitch__tagline {
  display: block;

  margin-bottom: 29px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  text-transform: uppercase;

  color: $basic_white;

  @media (min-width: $tablet) {
    padding-left: 88px;
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: $basic_black;
  }

  @media (min-width: $desktop) {
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.pitch__img {
  @media (min-width: $tablet) {
    order: 4;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.pitch__button {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    width: 244px;

    padding-top: 17px;
    padding-bottom: 18px;

    font-size: 20px;

    margin-left: 82px;
  }

  @media (min-width: $desktop) {
    margin-left: 79px;
  }
}
