.pitch {
  padding-bottom: 22px;

  display: flex;
  flex-direction: column;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;


  &::before {
    @media (min-width:$desktop) {
      @include pseudo-element(720px, 696px);

      top: -10px;
      right: 0px;

      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;

      z-index: -1;
    }
  }

  @media (min-width:$tablet) {
    width: 100%;

    padding-bottom: 530px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: -20% 100%;
    background-repeat: no-repeat;
  }

  @media (min-width:$desktop) {
    padding-bottom: 300px;

    background-image: url("../img/index-can-desktop@1x.png");
    background-position: 67% 20%;
  }

}

.pitch__title {
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  text-align: center;

  color: $basic_white;

  @media (min-width:$tablet) {
    margin-top: 0;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;

    text-align: left;

    color: $basic_black;
  }

  @media (min-width:$desktop) {
    padding-top: 111px;
  }
}

.pitch__tagline {
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  text-transform: uppercase;

  color: $basic_white;

  @media (min-width:$tablet) {
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: $basic_black;
  }
}

.pitch__img {
  margin-bottom: 3px;

  @media (min-width:$tablet) {
    order: 4;
  }

  @media (min-width:$tablet) {
    display: none;
  }
}

.pitch__button {
  @media (min-width:$tablet) {
    width: 244px;

    font-size: 20px;
  }
}
