.form__title {
  @include main-title-small;

  padding: $padding-h-mobile;
  margin-top: 20px;
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    @include main-title-large;

    padding: $padding-h-tablet;
    margin-top: 50px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    @include main-title-large;

    padding: $padding-h-desktop;
    margin-top: 58px;
    margin-bottom: 55px;
  }
}

.program-brief {
  @include form-text-small;

  margin-bottom: 32px;

  @media (min-width: $tablet) {
    @include form-text-large;
  }
}

.program-brief__form {
  display: grid;
  grid-template-columns: 1fr;
}

.program-brief__text-top {
  width: 90%;

  padding: $padding-h-mobile;
  margin-bottom: 39px;

  font-size: 14px;

  @media (min-width: $tablet) {
    @include form-text-large;

    width: 60%;

    padding-left: 71px;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop) {
    width: 40%;

    padding: $padding-h-desktop;
    margin-bottom: 67px;
  }
}

.program-brief__fieldset {
  box-sizing: border-box;

  width: 320px;
  padding: $padding-h-mobile;

  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 768px;
    padding-left: 71px;
    padding-right: 67px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: $padding-h-desktop;
    margin: 0;
  }

  border: none;
}

.program-brief__params {
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    max-width: 790px;

    margin-bottom: 51px;
  }
}

.program-brief__params-item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.program-brief___params-label {
  align-self: center;
}

.program-brief___params-input {
  @include form-text-small;

  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 14px;
  margin-left: 15px;

  flex-grow: 1;

  border: 1px solid $special_grey-5;
  border-radius: 0;
  outline: none;

  &:focus {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 13px;

    border: 2px solid $special_dark-grey;
    border-radius: 0;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:invalid {
    border: 2px solid $status_error;
  }

  @media (min-width: $tablet) {
    @include form-text-large;

    padding-top: 8px;
    padding-bottom: 11px;
    padding-left: 19px;

    &:focus,
    &:invalid {
      padding-top: 7px;
      padding-bottom: 10px;
      padding-left: 18px;
    }
  }
}

.program-brief__goal {
  padding-top: 20px;
  margin-bottom: 26px;

  border-top: 1px solid $basic_grey-2;
  border-bottom: 1px solid $basic_grey-2;

  @media (min-width: $tablet) {
    margin-bottom: 75px;

    border: none;
  }

  @media (min-width: $desktop) {
    position: relative;

    max-width: 790px;

    margin-bottom: -285px;

    top: -285px;
    left: 650px;
  }
}

.program-brief__goal-list {
  @include list-reset;
  padding-bottom: 8px;

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-left: 27px;
    padding-bottom: 13px;

    border: 1px solid $basic_grey-2;
  }
}

.program-brief__goal-item {
  position: relative;

  margin-bottom: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }
}

.program-brief___goal-label {
  cursor: pointer;

  display: block;

  padding-top: 6px;
  padding-left: 45px;

  @media (min-width: $tablet) {
    padding-left: 60px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-brief___goal-input + label::before {
  @include pseudo-element(30px, 30px);

  left: 0;
  top: 0;

  border: 1px solid $special_grey;
  border-radius: 50%;
}

.program-brief___goal-input:hover + label::before {
  border: 1px solid $special_grey-7;
}

.program-brief___goal-input:checked + label::before {
  display: none;
}

.program-brief___goal-input:checked + label::after {
  @include pseudo-element(30px, 30px);

  left: 0;
  top: 0;

  border: 1px solid $special_grey;
  border-radius: 50%;

  background: radial-gradient(14px 14px at 50% 50%, $basic_green 45%, $basic_white 50%);
}

.program-brief___goal-input:checked:hover + label::after {
  border: 1px solid $special_grey-7;
  border-radius: 50%;
}

@media (min-width: $tablet) {
  .program-brief___goal-input + label::before {
    @include pseudo-element(40px, 40px);
  }

  .program-brief___goal-input:checked + label::after {
    @include pseudo-element(40px, 40px);

    background: radial-gradient(18px 18px at 50% 50%, $basic_green 45%, $basic_white 50%);
  }
}

.program-brief__contacts {
  padding-top: 26px;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 70px;
  }
}

.program-brief__contacts-title {
  @include form-title-small;

  position: relative;

  max-width: 95%;
  margin-bottom: 6px;

  &::before {
    @media (min-width: $tablet) {
      @include pseudo-element(300px, 2px);

      top: 60%;
      left: -340px;

      background-color: $basic_green;
    }
  }

  &::after {
    @include pseudo-element(99px, 2px);

    top: 31%;
    right: -34px;

    background-color: $basic_green;

    @media (min-width: $tablet) {
      width: 2145px;
      height: 2px;

      top: 60%;
      right: -2185px;
    }
  }

  @media (min-width: $tablet) {
    @include form-title-large;

    margin-bottom: 49px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.program-brief__contacts-list {
  display: grid;
  grid-template-columns: 1fr;

  @include list-reset;

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: 79px;
  }
}

.program-brief__contacts-item {
  position: relative;

  margin-bottom: 14px;

  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet) {
      margin-left: -3px;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.program-brief___contacts-label {
  padding-top: 13px;
}

.program-brief___contacts-input {
  @include form-text-small;

  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 15px;
  margin-left: 10px;

  flex-grow: 1;

  border: 1px solid $special_grey-5;
  border-radius: 0;
  outline: none;

  &:focus {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 14px;

    border: 2px solid $special_dark-grey;
    border-radius: 0;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:invalid {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 14px;

    border: 2px solid $status_error;
    border-radius: 0;
  }

  &:focus + .program-brief___contacts-icon {
    fill: $basic_green;
  }

  &:invalid + .program-brief___contacts-icon {
    fill: $status_error;
  }

  @media (min-width: $tablet) {
    @include form-text-large;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 21px;
    margin-left: 17px;

    &:focus,
    &:invalid {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 20px;
    }
  }
}

.program-brief___contacts-icon {
  position: absolute;

  width: 20px;
  height: 20px;

  top: 14px;
  right: 14px;

  fill: $special_dark-grey-2;

  @media (min-width: $tablet) {
    top: 16px;
    right: 16px;
  }
}

.program-brief__comment {
  padding-top: 17px;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 68px;
  }
}

.program-brief__comment-title {
  @include form-title-small;

  position: relative;

  width: 100%;

  margin-bottom: 17px;

  &::before {
    @media (min-width: $tablet) {
      @include pseudo-element(300px, 2px);

      top: 59%;
      left: -340px;

      background-color: $basic_green;
    }
  }

  &::after {
    @include pseudo-element(158px, 2px);

    top: 60%;
    right: -20px;

    background-color: $basic_green;

    @media (min-width: $tablet) {
      width: 478px;
      height: 2px;

      top: 59%;
      right: -67px;
    }

    @media (min-width: $desktop) {
      width: 2478px;

      right: -1480px;
    }
  }

  @media (min-width: $tablet) {
    @include form-title-large;

    margin-bottom: 58px;
  }
}

.program-brief__comment-text {
  @include form-text-small;

  display: block;

  width: 100%;
  min-height: 150px;

  padding-top: 12px;
  padding-left: 14px;

  border: 1px solid $special_grey-5;
  border-radius: 0;
  outline: none;

  color: $basic_black;
  opacity: 1;

  &:focus {
    padding-top: 11px;
    padding-left: 13px;

    border: 2px solid $special_dark-grey;
    border-radius: 0;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:invalid {
    border: 2px solid $status_error;
  }

  @media (min-width: $tablet) {
    @include form-text-large;

    min-height: 174px;

    padding-top: 9px;
    padding-left: 17px;

    &:focus,
    &:invalid {
      padding-top: 8px;
      padding-left: 16px;
    }
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.program-brief__optional {
  padding-top: 17px;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.program-brief__optional-title {
  @include form-title-small;

  position: relative;

  width: 100%;

  margin-bottom: 16px;

  &::before {
    @media (min-width: $tablet) {
      @include pseudo-element(300px, 2px);

      top: 59%;
      left: -340px;

      background-color: $basic_green;
    }
  }

  &::after {
    @include pseudo-element(136px, 2px);

    top: 59%;
    right: -20px;

    background-color: $basic_green;

    @media (min-width: $tablet) {
      width: 446px;
      height: 2px;

      top: 59%;
      right: -67px;
    }

    @media (min-width: $desktop) {
      width: 2478px;

      right: -1510px;
    }
  }

  @media (min-width: $tablet) {
    @include form-title-large;

    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 39px;
  }
}

.program-brief__optional-list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    column-gap: 53px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 83px;
  }
}

.program-brief__optional-item {
  position: relative;

  margin-bottom: 18.5px;
}

.program-brief___optional-label {
  cursor: pointer;

  display: block;

  padding-top: 6px;
  padding-left: 46px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding-left: 58px;
  }
}

.program-brief___optional-input + label::before {
  @include pseudo-element(30px, 30px);

  left: 0;
  top: 0;

  border: 1px solid $special_grey;
}

.program-brief___optional-input:hover + label::before {
  border: 1px solid $special_grey-7;
}

.program-brief___optional-input:checked + label::before {
  display: none;
}

.program-brief___optional-input:checked + label::after {
  @include pseudo-element(30px, 30px);

  left: 0;
  top: 0;

  border: 1px solid $special_grey;
  background-image: url("../img/icon-tick.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50% 53%;
}

.program-brief___optional-input:checked:hover + label::after {
  border: 1px solid $special_grey-7;
}

@media (min-width: $tablet) {
  .program-brief___optional-input + label::before {
    @include pseudo-element(40px, 40px);
  }

  .program-brief___optional-input:checked + label::before {
    display: none;
  }

  .program-brief___optional-input:checked + label::after {
    @include pseudo-element(40px, 40px);
  }
}

.program-brief__submit {
  padding: $padding-h-mobile;

  @media (min-width: $tablet) {
    padding-left: 61px;
  }

  @media (min-width: $desktop) {
    padding: $padding-h-desktop;
  }
}

.program-brief__submit-button {
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    width: 40%;
    padding-bottom: 16px;
    margin-bottom: 40px;

    font-size: 20px;
  }

  @media (min-width: $desktop) {
    width: 46.8%;
    padding-bottom: 16px;
    margin-bottom: 50px;
  }
}

.program-brief__text-bottom {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  text-transform: none;

  @media (min-width: $tablet) {
    position: relative;

    width: 45%;
    margin-bottom: -16px;

    top: -75px;
    left: 44.5%;

    font-size: 16px;
  }

  @media (min-width: $desktop) {
    top: -86px;
    left: 38%;
  }
}
