.form__title {
  margin: 0;
  margin-top: 27px;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  text-align: center;

  @media (min-width:$tablet) {
    padding-left: 30px;

    font-size: 60px;
    line-height: 60px;

    text-align: left;
  }

  @media (min-width:$tablet) {
    padding: 0 110px;
  }
}

.program-brief {
  width: 320px;

  padding-top: 37px;
  padding-bottom: 32px;

  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  @media (min-width:$tablet) {
    width: 100%;

    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width:$tablet) {
    padding: 0 110px;
  }
}

.program-brief__form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 27px;
}

.program-brief__text-top {
  width: 90%;

  margin-bottom: 39px;

  font-size: 14px;

  @media (min-width:$tablet) {
    width: 50%;

    font-size: 20px;
    line-height: 30px;
  }
}

.program-brief__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.program-brief__params {
  @media (min-width:$desktop) {
    width: 47%;
  }
}

.program-brief__contacts {
  display: grid;
  grid-template-rows: 1fr;

  @media (min-width:$tablet) {
    grid-template-rows: 1fr 1fr;
  }
}

.program-brief__contacts-list {
  display: grid;
  grid-template-columns: 1fr;

  @include list-reset;

  @media (min-width:$desktop) {
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.program-brief__params-item,
.program-brief__contacts-item {
  margin-bottom: 14px;

  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0px;
  }
}

.program-brief___params-label,
.program-brief___contacts-label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.program-brief___params-input,
.program-brief___contacts-input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-left: 14px;

  flex-grow: 1;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  border: 1px solid $special_grey-5;
  border-radius: 0;
}

.program-brief__goal {
  padding-top: 20px;

  border-top: 1px solid $basic_grey-2;
  border-bottom: 1px solid $basic_grey-2;

  @media (min-width:$tablet) {
    border-left: 1px solid $basic_grey-2;
    border-right: 1px solid $basic_grey-2;
  }

  @media (min-width:$desktop) {
    width: 40%;

    position: absolute;

    right: 110px;
  }
}

.program-brief__goal-list {
  @include list-reset;
}

.program-brief__goal-item {
  margin-bottom: 23px;
}

.program-brief__contacts-title {
  position: relative;

  max-width: 95%;
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 26px;

  text-transform: none;

  &::after {
    @include pseudo-element(99px, 2px);

    top: 33%;
    right: -10px;

    background-color: $basic_green;
  }

  @media (min-width:$tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-brief___contacts-input {
  border: 1px solid $special_grey;
}

.program-brief__comment-title {
  position: relative;

  width: 100%;
  margin-bottom: 34px;

  font-size: 24px;
  line-height: 26px;

  text-transform: none;

  &::after {
    @include pseudo-element(158px, 2px);

    top: 60%;
    right: 0px;

    background-color: $basic_green;
  }

  @media (min-width:$tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-brief__comment-text {
  width: 100%;
  min-height: 150px;

  padding: 10px 0px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  border: 1px solid $special_grey-5;
  border-radius: 0;

  @media (min-width:$tablet) {
    width: 100%;
  }

  @media (min-width:$desktop) {
    width: 100%;
  }
}

.program-brief__optional {
  margin-bottom: 10px;
}

.program-brief__optional-title {
  position: relative;

  width: 100%;

  margin-bottom: 34px;

  font-size: 24px;
  line-height: 26px;

  text-transform: none;

  &::after {
    @include pseudo-element(136px, 2px);

    top: 60%;
    right: 0px;

    background-color: $basic_green;
  }

  @media (min-width:$tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.program-brief__optional-list {
  display: grid;
  grid-template-columns: 1fr;

  @include list-reset;

  @media (min-width:$tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width:$desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.program-brief___optional-input {
  margin-bottom: 20px;
  margin-right: 15px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.program-brief__submit-button {
  margin-bottom: 21px;

  @media (min-width:$tablet) {
    width: 50%;
  }
}

.program-brief__text-bottom {
  margin: 0;

  font-family: "Arial", sans-serif;
  line-height: 16px;
  text-align: center;

  text-transform: none;

  @media (min-width:$tablet) {
    position: absolute;

    bottom: 695px;
    right: 174px;

    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width:$desktop) {
    bottom: 585px;
    right: 404px;
  }
}
