.programs {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 21px;

  margin-bottom: 27px;

  @media (min-width: $tablet) {
    row-gap: 30px;

    margin: 0 auto;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    padding-top: 107px;
    margin-bottom: 73px;

    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__card {
  padding: 0 20px;
  padding-top: 29px;
  padding-bottom: 22px;

  background-color: $basic_grey;

  @media (min-width: $tablet) {
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;
  }
}

.programs__card-slim {
  position: relative;

  &::before {
    @include pseudo-element(36px, 50px);

    top: 20px;
    left: 29px;

    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;

    z-index: 1;

    @media (min-width: $tablet) {
      width: 140px;
      height: 192px;

      top: 81px;
      left: 477px;
    }

    @media (min-width: $desktop) {
      width: 70px;
      height: 97px;

      top: 40px;
      left: 66px;
    }
  }
}

.programs__card-pro {
  position: relative;

  &::before {
    @include pseudo-element(67px, 28px);

    top: 34px;
    left: 13px;

    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;

    z-index: 1;

    @media (min-width: $tablet) {
      width: 268px;
      height: 112px;

      top: 135px;
      left: 412px;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 100px;

      top: 66px;
      left: 32px;
    }
  }
}

.programs__title {
  position: relative;

  padding-left: 71px;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  text-transform: uppercase;

  &::before {
    @include pseudo-element(50px, 50px);

    top: -6px;
    left: 2px;

    background-color: $basic_green;
    border-radius: 50%;

    @media (min-width: $tablet) {
      width: 200px;
      height: 200px;

      top: 15px;
      left: 395px;
    }

    @media (min-width: $desktop) {
      width: 100px;
      height: 100px;

      top: -31px;
      left: -1px;
    }
  }

  @media (min-width: $tablet) {
    padding-left: 0;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 161px;
    margin-bottom: 73px;
  }
}

.programs__text {
  padding-bottom: 22px;
  margin-bottom: 19px;

  font-family: "Arial", sans-serif;

  color: $special_dark-grey;

  border-bottom: 1px solid $special_dark-grey-3;

  & br {
    display: none;
  }

  @media (min-width: $tablet) {
    width: 60%;

    margin-bottom: 29px;

    font-size: 16px;
    line-height: 24px;

    border: none;

    & br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop) {
    width: 93%;

    margin-bottom: 4px;

    font-size: 16px;
    line-height: 24px;

    border: none;

    & br {
      display: none;
    }
  }
}

.programs__link {
  position: relative;

  display: block;

  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;

  &::after {
    @include pseudo-element(32px, 10px);

    bottom: 3px;
    left: 101px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      bottom: 10px;
      left: 134px;
    }
  }

  &:hover::after,
  &:focus::after {
    @include pseudo-element(32px, 10px);

    bottom: 4px;
    left: 90px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      bottom: 10px;
      left: 134px;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
