.programs {
  margin-bottom: 27px;

  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet) {
    width: 100%;

    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71px;

    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__card {
  width: 100%;

  margin: 0 auto;

  background-color: $basic_grey;
}

.programs__card-slim {
  position: relative;

  &::before {
    @include pseudo-element(36px, 50px);

    top: 21px;
    left: 29px;

    background-image: url("../../img/icon-cat-slim.svg");
    background-repeat: no-repeat;

    z-index: 1;
  }
}

.programs__card-pro {
  position: relative;

  &::before {
    @include pseudo-element(67px, 28px);

    top: 35px;
    left: 13px;

    background-image: url("../../img/icon-cat-pro.svg");
    background-repeat: no-repeat;

    z-index: 1;
  }
}

.programs__title {
  position: relative;

  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 22px;
  padding-left: 69px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  text-transform: uppercase;

  &::before {
    @include pseudo-element(50px, 53px);

    left: 0;
    top: -10px;

    background-color: $basic_green;
    border-radius: 50%;
  }
}

.programs__text {
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 33px;

  padding-bottom: 23px;

  font-family: "Arial", sans-serif;

  color: $special_dark-grey;

  border-bottom: 1px solid $special_dark-grey-3;
}

.programs__link {
  position: relative;

  display: block;

  margin-left: 19px;
  margin-bottom: 18px;

  text-transform: uppercase;

  &::after {
    @include pseudo-element(32px, 10px);

    bottom: 4px;
    left: 90px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    @include pseudo-element(32px, 10px);

    bottom: 4px;
    left: 90px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
