.promo {
  padding-top: 188px;
  padding-bottom: 43px;
  margin-bottom: 33px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    padding-top: 102px;
    padding-bottom: 95px;
    padding-left: 330px;
    margin-bottom: 48px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center;
  }

  @media (min-width: $desktop) {
    position: relative;

    width: 245px;
    height: 289px;

    margin: 0;
    padding: 0;
    margin-bottom: -289px;

    left: 1085px;
    bottom: 375px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: center;
  }
}

.promo__text {
  position: relative;

  width: 60%;

  margin: 0 auto;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  text-align: center;

  color: $basic_white;

  &::before {
    @include pseudo-element(78px, 80px);

    top: -130px;
    left: 45px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    color: $basic_white;

    @media (min-width: $tablet) {
      top: -15px;
      left: -343px;
    }

    @media (min-width: $desktop) {
      top: 57px;
      left: 49px;
    }
  }

  @media (min-width: $tablet) {

    width: 40%;
    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 70%;

    padding-top: 184px;
    padding-left: 0;

    text-align: center;
  }
}
