// Начните писать стили здесь
@import "./utils/colors.scss";
@import "./utils/fonts.scss";
@import "./utils/viewports.scss";
@import "./utils/variables.scss";
@import "./utils/wrapper.scss";
@import "./utils/mixin.scss";
@import "./utils/base.scss";
@import "./utils/button.scss";
@import "./blocks/header.scss";
@import "./blocks/pitch.scss";
@import "./blocks/programs.scss";
@import "./blocks/features.scss";
@import "./blocks/example.scss";
@import "./blocks/offers.scss";
@import "./blocks/extra-offers.scss";
@import "./blocks/promo.scss";
@import "./blocks/program-brief.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
